*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend";
}
/*imported font*/
.lexend-<uniquifier> {
             font-family: "Lexend", sans-serif;
             font-optical-sizing: auto;
             font-weight: < weight >;
             font-style: normal;
         }