*{
    font-family: Lexend;
    text-decoration: none;
}
.lexend-<uniquifier> {
             font-family: "Lexend", sans-serif;
             font-optical-sizing: auto;
             font-weight: <weight>;
             font-style: normal;
}
.navbar{
    background: #36ffc3; padding-right: 15px; padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center;        /* centers everything */
    justify-content: space-between; /* keeps Logo left and Menu right */
    padding: 0 20px; /* adds space to logo and login */
}

.navdiv ul {
    display: flex;
    flex-grow: 1;               /* Tells the menu to take up available space */
    justify-content: center;    /* Centers the links within that space */
    list-style: none;
    margin: 0;
    padding: 0;
}

.navdiv ul li {
    margin: 20px   /* add space betwwen links to the top */
}
.logo a{
    font-size: 40px; font-weight: 600; color: black;
}
li{
    list-style: none; display: inline-block;
}
li a{
    color: black; font-size: 20px; margin-right: 25px;
}

#login-button {
    background-color: #007154;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}
#login-button:hover {
    background-color: #004a3d; /* Darker shade for hover effect */
}
